.seo-only,
.hide-on-mobile {
  position: absolute;
  top: -10000px;
  left: -10000px;
}

.button {
  display: inline-block;
  padding: 12px 16px;
  background-color: var(--tertairy, #ffd700);
  color: var(--primary, #72207b);
  border-radius: var(--roundness-level, 4px);
  text-decoration: none;
  font-size: 14px;
  font-weight: 500;
  vertical-align: middle;
}
.button--uppercase {
  text-transform: uppercase;
}

.coin {
  text-align: center;
  display: grid;
  gap: 1rem;
  place-items: center;
  margin: 0;
}

.tag {
  display: inline-block;
  margin: 0;
  padding: 3px 12px;
  background-color: var(--tertairy, #ffd700);
  color: var(--primary, #72207b);
  font-size: 12px;
  font-weight: 500;
  text-transform: uppercase;
  border-radius: 50rem;
  vertical-align: bottom;
}

.performance__header::after {
  content: "";
  display: block;
  height: 1px;
  width: 100%;
  background-color: #ffffff;
}

/* tablet + */
@media screen and (min-width: 750px) {
  .hide-on-mobile {
    position: static;
  }
  .mobile-only {
    position: absolute;
    top: -10000px;
    left: -10000px;
  }
  .tag {
    font-size: 15px;
  }
}
