.seo-only,
.hide-on-mobile {
  position: absolute;
  top: -10000px;
  left: -10000px;
}

.button {
  display: inline-block;
  padding: 12px 16px;
  background-color: var(--tertairy, #ffd700);
  color: var(--primary, #72207b);
  border-radius: var(--roundness-level, 4px);
  text-decoration: none;
  font-size: 14px;
  font-weight: 500;
  vertical-align: middle;
}
.button--uppercase {
  text-transform: uppercase;
}

.coin {
  text-align: center;
  display: grid;
  gap: 1rem;
  place-items: center;
  margin: 0;
}

.tag {
  display: inline-block;
  margin: 0;
  padding: 3px 12px;
  background-color: var(--tertairy, #ffd700);
  color: var(--primary, #72207b);
  font-size: 12px;
  font-weight: 500;
  text-transform: uppercase;
  border-radius: 50rem;
  vertical-align: bottom;
}

.performance__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 4.2px;
  margin-bottom: 8px;
}

.performance__header::after {
  content: "";
  display: block;
  height: 1px;
  min-width: 100%;
  background-color: #ffffff;
}

.performance__body {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.hamburger {
  width: 3rem;
  --clickable-padding: 8px;
  padding: var(--clickable-padding, 8px);
  cursor: pointer;
  --bar-height: 6px;
  --gap: 8px;
  height: calc(var(--bar-height) * 3 + var(--gap) * 2);
  transform: translate(
    var(--clickable-padding, 8px),
    calc(var(--clickable-padding, 8px) * -1)
  );
}

.hamburger span {
  display: block;
  height: var(--bar-height, 6px);
  width: 100%;
  background-color: var(--tertairy, #ffd700); /* or white idk now */
  border-radius: 2px;
  margin-bottom: var(--gap, 8px);
}

.hamburger.active {
  transform: translateY(var(--gap, 8px));
}

.hamburger.active > span:nth-child(1) {
  margin: 0;
  transform: rotate(45deg) translateY(8px);
}
.hamburger.active > span:nth-child(2) {
  width: 0px;
  margin: 0;
}
.hamburger.active > span:nth-child(3) {
  transform: rotate(-45deg) translateY(-8px);
  margin: 0;
}

/* tablet + */
@media screen and (min-width: 750px) {
  .hide-on-mobile {
    position: static;
  }
  .mobile-only {
    position: absolute;
    top: -10000px;
    left: -10000px;
  }
  .tag {
    font-size: 15px;
  }
  .performance__header {
    margin-bottom: 14px;
  }
  .performance__body {
    gap: 6px;
  }
}
