:root {
  --max-width: 1400px;
  --mobile-padding: 1rem;
}

.page__header {
  padding: 1rem var(--mobile-padding, 1rem) 18rem var(--mobile-padding, 1rem);
}

.page__intro {
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 164px;
}

.page__logo-pre {
  margin-bottom: 0.5rem;
}
.page__intro .heading--h3 {
  margin-bottom: 4px;
}
.page__intro .button {
  margin-top: 20px;
}
.page__year {
  margin: 0 0 8px 0;
}

.page__content-wrapper {
  padding: 0 var(--mobile-padding, 1rem);
}

.page__coins {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  gap: 3rem;
  max-width: var(--max-width, 1400px);
  padding: 5rem 0 0 0;
}

.page__footer {
  max-width: var(--max-width, 1400px);
  padding: 0 var(--mobile-padding, 1rem);
  margin: 0 auto;
  margin-top: 9rem;
}

.page__footer-container-heading {
  margin-top: 0.5rem;
  margin-bottom: 0.7em;
}

.footer__contacts-wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 2rem;
}

.page__copyright {
  text-align: center;
  margin-top: 3rem;
}

.page__footer-contact {
  display: grid;
  gap: 0.5em;
}

.page__navigation {
  position: fixed;
  display: grid;
  align-content: center;
  gap: 10rem;
  top: 0;
  bottom: 0;
  left: 100%;
  right: -100%;
  z-index: 1000;
  margin: 0;
  padding: 5rem var(--mobile-padding, 1rem);
  text-align: center;
}
.page__navigation.active {
  left: 0;
  right: 0;
}

.page__hamburger {
  margin: 12px 0 0 auto;
  position: relative;
  z-index: 100;
}
.page__muzikal-header {
  position: relative;
  padding-bottom: 265px;
  padding: 0 var(--mobile-padding, 1rem);
}

.page__header-wrapper {
  max-width: var(--max-width, 1400px);
  margin: 0 auto;
}

.page__muzikal-header .heading--h1 {
  margin-bottom: 24px;
}

.page__muzikal-header .text {
  margin-bottom: 32px;
  max-width: 45em;
}
.page__muzikal-intro {
  margin-top: 24px;
}

.page__muzikal-content {
  padding: 5rem var(--mobile-padding, 1rem) 0 var(--mobile-padding, 1rem);
  max-width: var(--max-width, 1400px);
  margin: 0 auto;
  display: grid;
  gap: 9rem;
}

.page__performances .heading--h2 {
  margin-bottom: 38px;
  text-align: center;
}

.page__performance-list {
  display: grid;
  gap: 44px;
}

.page__about-us .heading--h2 {
  margin-bottom: 38px;
}

.page__about-us-content {
  display: grid;
  gap: 24px;
}

.page__about-us-content::after {
  grid-row: 2;
}

@media screen and (min-width: 750px) {
  .page__intro {
    gap: 20px;
  }

  .page__header {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 8rem;
    padding-bottom: 13rem;
  }

  .page__coins {
    flex-direction: row;
    gap: 1rem;
  }
  .page__footer {
    margin-top: 18rem;
  }

  .page__muzikal-header::before {
    left: 1000px;
    top: 84px;
    width: 720px;
  }
  .page__muzikal-header {
    height: auto;
    padding-bottom: 265px;
  }
  .page__muzikal-intro {
    margin-top: 124px;
  }

  .page__muzikal-content {
    padding-top: 13rem;
    gap: 18rem;
  }

  .page__performances .heading--h2 {
    margin-bottom: 64px;
    text-align: left;
  }
  .page__performance-list {
    gap: 54px;
  }

  .page__about-us-content {
    grid-template-columns: 1fr 1fr;
    grid-auto-rows: auto;
    column-gap: 3rem;
    row-gap: 1rem;
  }

  .page__about-us-content::before {
    grid-column: 1;
    grid-row: 2;
    width: 100%;
    max-width: 30rem;
    margin: 0 auto;
    align-self: center;
  }
  .page__about-us-content::after {
    grid-column: 2;
    grid-row: 1;
    width: 19rem;
    max-width: none;
    margin-top: -7rem;
  }

  .page__hamburger {
    display: none;
  }

  .page__navigation {
    position: static;
    display: flex;
    justify-content: center;
    gap: 1rem;
    margin: 0;
    padding: 24px 0;
  }
}

/* desktop */
@media screen and (min-width: 1450px) {
  .page__header {
    justify-content: space-between;
  }

  .page__footer-contact {
    grid-template-columns: repeat(2, 1fr);
  }

  .page__coins {
    margin: 0 auto;
  }
}
