.page__intro {
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 164px;
}

.page__coins {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  gap: 3rem;
  grid-template-columns: 100%;
  height: 40vh;
}

.page__footer {
  margin-top: 5rem;
}

.footer__contacts-wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 2rem;
}

.page__footer-contact-item {
  display: inline-block;
  vertical-align: middle;
}

.page__footer-contact {
  display: grid;
  gap: 0.5em;
}

@media screen and (min-width: 750px) {
  .page__intro {
    gap: 20px;
  }

  .page__intro-button {
    margin-top: 20px;
  }

  .page__header {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .page__coins {
    flex-direction: row;
    gap: 1rem;
  }
}

@media screen and (min-width: 1450px) {
  .page__header {
    justify-content: space-between;
  }

  .page__footer-contact {
    grid-template-columns: repeat(2, 1fr);
  }
}
