.page__intro {
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 164px;
}
.page__header {
  padding: 8rem var(--mobile-padding, 2rem) 12rem var(--mobile-padding, 2rem);
}
.page__intro-heading .headign--h2 {
  margin-bottom: 0.7rem;
}
.page__intro .heading--h2 {
  margin-bottom: 0.5rem;
}
.page__intro-button {
  margin-top: 28px;
}
.page__year {
  margin: 0 0 8px 0;
}

.page__content {
  padding: 0 var(--mobile-padding, 2rem);
}

.page__coins {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  gap: 3rem;
  max-width: var(--max-width, 1450px);
}

.page__footer {
  max-width: var(--max-width, 1450px);
  padding: 0 var(--mobile-padding, 2rem);
  margin: 12rem auto 0 auto;
}

.page__footer-container-heading {
  margin-bottom: 0.5em;
}

.footer__contacts-wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 2rem;
}

.page__copyright {
  text-align: center;
  margin-top: 3rem;
}

.page__footer-contact {
  display: grid;
  gap: 0.5em;
}

/* tablet + */
@media screen and (min-width: 750px) {
  .page__intro {
    gap: 20px;
  }

  .page__intro-button {
    margin-top: 20px;
  }

  .page__header {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .page__coins {
    flex-direction: row;
    gap: 1rem;
  }
}

/* desktop */
@media screen and (min-width: 1450px) {
  .page__header {
    justify-content: space-between;
  }

  .page__footer-contact {
    grid-template-columns: repeat(2, 1fr);
  }

  .page__coins {
    margin: 0 auto;
  }
}
