@layer reset, init, components, design, layout;

@import url(normalize.css) layer(reset);
@import url(typography.css) layer(init);
@import url(components.css) layer(components);
@import url(layout.css) layer(layout);
@import url(animations.css) layer(design);

@layer init {
  :root {
    --primary: #72207b;
    --primary-light: #a72db4;
    --secondary: #ffffff;
    --tertairy: #ffd700;
    --tertairy-hover: #ffdb59;
    --dark-white: #ffffff7f;

    --roundness-level: 4px;
  }

  html {
    font-family: "Alexandria", sans-serif;
    background: var(--primary, #72207b);
    scroll-behavior: smooth;
    scroll-padding-top: 2rem;
  }

  body {
    overscroll-behavior-x: none;
  }

  a {
    color: inherit;
    text-decoration: none;
  }

  b {
    font-weight: 400;
  }
}

@layer design {
  header {
    background: var(--primary, #72207b);
    background: -webkit-linear-gradient(
      to right,
      var(--primary, #72207b),
      var(--primary-light, #a72db4),
      var(--primary, #72207b)
    );
    background: linear-gradient(
      to right,
      var(--primary, #72207b),
      var(--primary-light, #a72db4),
      var(--primary, #72207b)
    );
  }

  .page__content {
    background: var(--primary, #72207b);
    background: -webkit-linear-gradient(
      to right,
      var(--primary, #72207b),
      var(--primary-light, #a72db4),
      var(--primary, #72207b)
    );
    background: linear-gradient(
      to right,
      var(--primary, #72207b),
      var(--primary-light, #a72db4),
      var(--primary, #72207b)
    );
  }
  .page__content-wrapper {
    border-top-left-radius: 50% 2%;
    border-top-right-radius: 50% 2%;
    background-color: var(--primary, #72207b);
  }
  .page__year {
    font-size: 38px;
    font-weight: 850;
    color: var(--dark-white, #ffffff7f);
  }

  .page__partner {
    transition: opacity 0.3s ease-in-out;
    opacity: 0.7;
  }

  .page__footer-heading::after {
    content: "";
    display: block;
    height: 1px;
    background-color: var(--tertairy, #ffd700);
    margin-bottom: 1rem;
  }

  .page__footer-contact-item {
    font-size: 14px;
    font-weight: 250;
  }

  .page__copyright {
    font-size: 12px;
    font-weight: 250;
  }
  .page__muzikal-header::after {
    content: url("./../images/ilustration/separator-wave-small.svg");
    display: block;
    bottom: -5px;
    width: calc(100% + var(--mobile-padding, 1rem) * 2);
    position: relative;
    z-index: 100;
    margin: 0 -1rem 0 -1rem;
  }

  .page__muzikal-header {
    overflow: hidden;
    z-index: 2;
  }

  .page__muzikal-intro {
    position: relative;
    z-index: 2;
  }

  .page__muzikal-header::before {
    content: url("./../images/ilustration/notes.svg");
    display: block;
    position: absolute;
    z-index: 1;
    right: -30px;
    bottom: -20px;
    height: 250px;
    width: 100%;
  }

  .page__about-us-content::after {
    content: url("./../images/ilustration/guitar-player.svg");
    display: block;
    width: 80%;
    max-width: 400px;
    margin: 0 auto;
    border-bottom: 3px solid #f3f3f3;
  }

  .page__navigation {
    transition: left 0.3s;
    background-color: var(--primary, #ffffff);
    text-transform: uppercase;
    font-weight: 500;

    .page.hidden {
      overflow: hidden;
    }
  }

  /* tablet + */
  @media screen and (min-width: 750px) {
    html {
      scroll-padding-top: 8rem;
    }
    .page__content-wrapper {
      border-top-left-radius: 50% 8%;
      border-top-right-radius: 50% 8%;
    }
    .page__logo-pre {
      font-size: 32px;
    }

    .page__muzikal-header::after {
      content: url("./../images/ilustration/separator-wave.svg");
      position: absolute;
      margin: 0;
    }
    .page__about-us-content::before {
      content: url("./../images/ilustration/notes-small.svg");
      display: block;
    }

    .page__navigation {
      background-color: transparent;
      font-weight: 400;
    }

    .page__navigation-item {
      transition: font-weight 0.3s ease-in-out;
    }

    .page__navigation-item::after {
      transition: width 0.3s ease-in-out;
      content: "";
      display: block;
      background-color: var(--tertairy, #ffd700);
      --height: 2px;
      height: var(--height, 2px);
      width: 0;
      margin-bottom: var(--height, 2px);
    }
  }

  /* desktop */
  @media screen and (min-width: 1450px) {
    .page__header::before {
      content: "19\00000A25";
      display: block;
      white-space: pre;
      font-size: 148px;
      font-weight: 850;
      color: var(--dark-white, #ffffff7f);
      line-height: 0.8;
      font-variant-numeric: tabular-nums;
    }
    .page__header::after {
      content: "20\00000A25";
      display: block;
      white-space: pre;
      font-size: 148px;
      font-weight: 850;
      color: var(--dark-white, #ffffff7f);
      line-height: 0.8;
      font-variant-numeric: tabular-nums;
    }
  }
}
