@layer reset, init, components, design, layout;

@import url(normalize.css) layer(reset);
@import url(typography.css) layer(init);
@import url(components.css) layer(components);
@import url(layout.css) layer(layout);

@layer init {
  :root {
    --primary: #72207b;
    --primary-light: #a72db4;
    --secondary: #ffffff;
    --tertairy: #ffd700;
    --dark-white: #ffffff7f;

    --roundness-level: 4px;

    --max-width: 1450px;
  }

  html {
    font-family: "Alexandria", sans-serif;
    background: var(--primary, #72207b);
    background: -webkit-linear-gradient(
      to right,
      var(--primary, #72207b),
      var(--primary-light, #a72db4),
      var(--primary, #72207b)
    );
    background: linear-gradient(
      to right,
      var(--primary, #72207b),
      var(--primary-light, #a72db4),
      var(--primary, #72207b)
    );
  }
}

@layer design {
  .page {
    padding: 1rem;
  }

  .page__year {
    font-size: 38px;
    font-weight: 850;
    color: var(--dark-white, #ffffff7f);
    margin: 0 0 8px 0;
  }

  .page__intro-button {
    margin-top: 28px;
  }

  .page__header {
    height: 60vh;
    margin: 0 auto;
  }

  @media screen and (min-width: 1450px) {
    .page__header {
      padding-left: 2rem;
      padding-right: 3rem;
    }

    .page__header::before {
      content: "19\00000A25";
      display: block;
      white-space: pre;
      font-size: 148px;
      font-weight: 850;
      color: var(--dark-white, #ffffff7f);
      line-height: 0.8;
      font-variant-numeric: tabular-nums;
    }
    .page__header::after {
      content: "20\00000A25";
      display: block;
      white-space: pre;
      font-size: 148px;
      font-weight: 850;
      color: var(--dark-white, #ffffff7f);
      line-height: 0.8;
      font-variant-numeric: tabular-nums;
    }
    .page__coins {
      max-width: var(--max-width, 1450px);
      margin: 0 auto;
    }
  }
}
