@import url("https://fonts.googleapis.com/css2?family=Alexandria:wght@100..900&display=swap");

:root {
  --logo-size-desktop: 108px;
  --h1-desktop: 54px;
  --h2-desktop: 38px;
  --h3-desktop: 24px;
  --h4-desktop: 18px;
  --text-desktop: 16px;

  --logo-size-mobile: 54px;
  --h1-mobile: 34px;
  --h2-mobile: 24px;
  --h3-mobile: 20px;
  --h4-mobile: 16px;
  --text-mobile: 14px;
}

.text {
  font-size: var(--text-mobile, 14px);
  font-weight: 300;
  line-height: 1.5;
  margin: 0;
}

html {
  color: var(--secondary, #ffffff);
}

.highlighted-text {
  color: var(--tertairy, #ffd700);
}

.heading {
  margin: 0;
}
.heading--dark-white {
  color: var(--dark-white, #ffffff7f);
}
.heading--uppercase {
  text-transform: uppercase;
}

.heading--logo {
  font-size: var(--logo-size-mobile, 54px);
  font-weight: 850;
  line-height: 1;
  letter-spacing: 1%;
}

.heading--h1 {
  font-size: var(--h1-mobile, 28px);
  font-weight: 850;
  line-height: 1;
  letter-spacing: 1%;
}

.heading--h2 {
  font-size: var(--h2-mobile, 20px);
  font-weight: 550;
}
.heading--h3 {
  font-size: var(--h3-mobile, 20px);
  font-weight: 450;
}

.heading--h4 {
  font-size: var(--h4-mobile, 16px);
  font-weight: 300;
}
.heading--bold {
  font-weight: 650;
}

.icon {
  color: transparent;
  background-color: var(--primary, #72207b);
  display: inline-block;
  width: 1.2em;
  height: 1.2em;
  vertical-align: middle;
}

.icon--align-auto {
  vertical-align: bottom;
}

.icon--tertairy {
  background-color: var(--tertairy, #ffd700);
}

.icon--arrow-right {
  -webkit-mask: url("./../images/icons/arrow-right.svg");
  mask: url("./../images/icons/arrow-right.svg");
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;

  -webkit-mask-position: center;
  mask-position: center;

  -webkit-mask-size: contain;
  mask-size: contain;
}

.icon--phone {
  -webkit-mask: url("./../images/icons/phone.svg");
  mask: url("./../images/icons/phone.svg");
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;

  -webkit-mask-position: center;
  mask-position: center;

  -webkit-mask-size: contain;
  mask-size: contain;
}

.icon--envelope {
  -webkit-mask: url("./../images/icons/envelope.svg");
  mask: url("./../images/icons/envelope.svg");
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;

  -webkit-mask-position: center;
  mask-position: center;

  -webkit-mask-size: contain;
  mask-size: contain;
}

.icon--globe {
  -webkit-mask: url("./../images/icons/globe.svg");
  mask: url("./../images/icons/globe.svg");
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;

  -webkit-mask-position: center;
  mask-position: center;

  -webkit-mask-size: contain;
  mask-size: contain;
}

.icon--location {
  -webkit-mask: url("./../images/icons/location.svg");
  mask: url("./../images/icons/location.svg");
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;

  -webkit-mask-position: center;
  mask-position: center;

  -webkit-mask-size: contain;
  mask-size: contain;
}

.icon--calendar {
  -webkit-mask: url("./../images/icons/calendar.svg");
  mask: url("./../images/icons/calendar.svg");
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;

  -webkit-mask-position: center;
  mask-position: center;

  -webkit-mask-size: contain;
  mask-size: contain;

  vertical-align: top;
}

/* tablet + */
@media screen and (min-width: 750px) {
  .heading--logo {
    font-size: var(--logo-size-desktop, 108px);
  }

  .heading--h1 {
    font-size: var(--h1-desktop, 54px);
  }

  .heading--h2 {
    font-size: var(--h2-desktop, 38px);
  }
  .heading--h3 {
    font-size: var(--h3-desktop, 24px);
  }

  .heading--h4 {
    font-size: var(--h4-desktop, 18px);
  }
  .text {
    font-size: var(--text-desktop, 16px);
  }
}
